/*Phone styles*/
html {
    height: 100%;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../assets/Website Background.png');
}

a {
    padding-left: 3%;
    padding-right: 3%;
    font-family: Arial;
    font-size: 2em;
    text-decoration: none;
    color: ghostwhite;
}

p {
    color: ghostwhite;
    font-size: 1.5em;
}

h1 {
    color: ghostwhite;
    font-size: 2.5em;
}

#header {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 5%;
}

#centerBody {
    margin: auto;
    width: 100%;
    height: 60%;
}

#pixi-content {
    margin: auto;
    padding-top: 2%;
}

/*Tablet styles*/
@media only screen and (min-width: 640px) {
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url('../images/Website Background.png');
    }

    #header {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 33%;
    }

    #centerBody {
        margin: auto;
        padding-top: 1%;
        width: 50%;
        height: 60%;
    }

    #pixi-content {
        margin: auto;
        justify-content: center;
    }
}

/*Desktop styles*/
@media only screen and (min-width: 1007px) {
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url('../images/Website Background.png');
    }

    #header {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 33%;
    }

    #centerBody {
        margin: auto;
        padding-top: 1%;
        width: 26%;
        height: 60%;
    }

    #pixi-content {
        margin: auto;
    }
}
